* text=auto
mvnw text eol=lf
gradlew text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.zip binary
*.jar binary
