<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Conference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/Semantic-UI/2.4.1/semantic.css"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}"/>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<h1>[[ ${message} ]]</h1>
<div>
    speakers:
    <div th:each="speaker : ${speakers}">
        <div>[[ ${speaker.name} ]] -> [[ ${speaker.id} ]]</div>
    </div>
</div>
<br/>
<div>
    sessions:
    <div th:each="thesession : ${sessions}">
        <div>[[ ${thesession.id} ]] <- [[ ${thesession.name} ]]</div>
    </div>
</div>
<br/>
<a href="/">Go home</a>
</body>
</html>
